@model Test2.Models.OrdenPago

@{
    ViewBag.Title = "Crear Orden de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear NUeva Orden de Pago</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Orden de Pago</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CodBanco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CodBanco, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CodBanco, new SelectList(Model.Bancos, "CodBanco", "Nombre"), "Seleccione Banco", new { onchange = @"form.submit();", @class = "btn btn-default dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.CodBanco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CodSucursal, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CodSucursal, new SelectList(Model.Sucursales, "CodSucursal", "Nombre"), "Seleccione Sucursal", new { @class = "btn btn-default dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.CodSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moneda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Moneda, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.Moneda, new SelectList(Model.Monedas, "codigo", "descripcion"), "Seleccione Moneda", new { @class = "btn btn-default dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.Moneda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.Estado, new SelectList(Model.Estados, "codigo", "descripcion"), "Seleccione Estado", new { @class = "btn btn-default dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  name="Guardar" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado de Órdenes de Pago", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
