@model IEnumerable<Test2.Models.Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consumo de Web Service Buscar Sucursales de acuerdo a un Banco</h2>
<h3>Ejemplo. Banco 2</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodBanco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodBanco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
    </tr>
}

</table>
